<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields addfieldpath="/administrator/components/com_joomlabacklinkchecker/models/fields">
        <fieldset name="component">
            <field type="krdonationcodecheck" />
            <field name="debug" type="list" default="0" label="COM_JOOMLABACKLINKCHECKER_DEBUG" description="COM_JOOMLABACKLINKCHECKER_DEBUGDESC">
                <option value="1">JYES</option>
                <option value="0">JNO</option>
            </field>
            <field name="user_agent_option" type="list" default="0" label="COM_JOOMLABACKLINKCHECKER_USERAGENTOPTION" description="COM_JOOMLABACKLINKCHECKER_USERAGENTOPTIONDESC">
                <option value="1">JYES</option>
                <option value="0">JNO</option>
            </field>
            <field name="user_agent_value" type="text" default="" size="40" label="COM_JOOMLABACKLINKCHECKER_USERAGENTVALUE" description="COM_JOOMLABACKLINKCHECKER_USERAGENTVALUEDESC" />
        </fieldset>
        <fieldset name="donation">
            <field type="krdonationcodecheck" />
            <field name="donation_code" type="text" default="" size="40" label="KR_DONATION_CODE" description="KR_DONATION_CODEDESC" />
        </fieldset>
        <fieldset name="versioncheck">
            <field type="krdonationcodecheck" />
            <field type="krversioncheck" name="krversioncheck" default="jbc|2.5-1" />
            <field name="versioncheck_enable" type="list" default="1" label="KR_VERSION_CHECK" description="KR_VERSION_CHECKDESC">
                <option value="1">KR_VERSION_CHECK_ONCESESSION</option>
                <option value="2">KR_VERSION_CHECK_ONEVERYLOAD</option>
                <option value="0">JNO</option>
            </field>
            <field type="krtitle" name="krtitle" label="" />
        </fieldset>
        <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
            <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" validate="rules"	filter="rules" component="com_joomlabacklinkchecker" section="component" />
        </fieldset>
    </fields>
</config>